################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartDocExtractor/CopilotIndices/18.0.988.22099
